* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


/*......................body..........................*/

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

/*......................header..........................*/

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;

    background-color: white;

}

/*......................nav..........................*/

.nav {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

    background-color: white;


}

/*......................dashboard..........................*/

.dashboard {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color: #B0A2F9;
    border: 1px solid #B0A2F9;


}

.dashboard-menu {
    
    display: grid; /* necessary to align log out section to the middle of its container*/
    grid-template-columns: 1fr;
}

.dashboard-menu ul {
    display: grid;
    grid-template-columns: 1;
    row-gap: 15px;
}



/*......................your-collection..........................*/

.your-collection {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: #EEEEEE;    
}

/*......................announcements-and-trending..........................*/

.announcements-and-trending {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;

    background-color: #EEEEEE;
}