* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}




/*......................body..........................*/

.main-container {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 4fr;
    grid-template-columns: 1fr 3fr 1fr;
}

/*......................header..........................*/

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;

}

/*......................nav..........................*/

.nav {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

}

/*......................dashboard..........................*/

.dashboard {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

}

/*......................your-collection..........................*/

.your-collection {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    
}

/*......................announcements-and-trending..........................*/

-announcements-and-trending {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}